*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    background-color:#212529 ;
    color: white;
    margin: 0;
    text-align: center;
}
.big-container{
    height: 100%;
    margin-left: 210px;
    margin-right: 210px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}
@media (max-width:750px){
    nav{
        display: flex;
        align-content: center;
        flex-flow: wrap column;
        text-align: center;
    }
}
nav{
    display: flex;
    justify-content: space-between;
}
h3{
    font-size: 28px;
    margin: 0;
}
ul li{
    display: inline-block;
}
a{
    color: white;
    text-decoration: none;
}
.ul-a{
    box-sizing: border-box;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 4px solid white;
}
.ul-a:hover{
    border-bottom: 4px solid gray;
}
.ul-a2{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 16px;
    color: gray;
}
.ul-a2:hover{
    border-bottom: 4px solid gray;
}
main{
    margin: auto;
}
h1{
    margin: 0;
    margin-bottom: 8px;
    font-size: 38px;
    font-weight: bold;
}
p{
    margin: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 30px;
    margin-block-end: 20px;
}
.button{
    margin: 0;
    margin-bottom: 16px;
}
.button a{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    color: rgb(51, 50, 50);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
footer{
    margin: auto;
}
.footer-p{
    margin: 0;
    color: gray;
    font-size: 16px;
}
.footer-a{
    color: white;
}